h3{
    text-transform: uppercase;
}
body{
    background-image:url(../jpgs/FMLA.png) ;
}
.iw{
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
}
.link{
    font-size: 16px;
    font-style: italic;
}
header{
    border-style: solid;
    
}
main{
    height: 80%;
    width: 70%;
}
.job-title{
    font-weight: bold;
    color: maroon;
}