h3{
    text-transform: uppercase;
}
body{
    background-color: rgb(219, 223, 243);
}
.iw{
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
}
.link{
    font-size: 16px;
    font-style: italic;
}
